<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <form action="/login" method="post"> 
        <div>
            <label for="name">Username</label>
            <input id="name" name="name" type="text" />
          </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
          </div>
    </form>
</body>
</html>